* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f39c12;
}

/* Menu hamburguesa */
.menu-toggle {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #1E1E1E;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}


.logo img {
  max-width: 100%;
  height: auto;
}
